.card-container {
    display: flex;
    flex-direction: row;
    /* ensures cards are in a row */
    flex-wrap: nowrap;
    /* prevents wrapping to the next line */
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    color: #5a2ea6;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    color: #333333;
}