.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #6a0dad;
  /* Purple theme */
  color: #fff;
}

.logo {
  font-size: 20px;
  padding: 15px 40px;
  background-color: #6a0dad;
  /* Purple theme */
  color: #fff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  gap: 0px;
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffccff;
}

/* Profile Circle */
.profile-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffccff; /* light pink, you can change */
  color: #6a0dad; /* purple text */
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
}

.profile-circle:hover {
  transform: scale(1.1);
}